@font-face {
    font-family: "If";
    src: url(If.ttf);
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(HelveticaNeueRegular.ttf);
}

@font-face {
    font-family: 'Helvetica Neue Italic';
    src: url(Helvetica-Neue-Italic_22501.ttf);
}

/* * {
    font-family: 'If', Fallback, sans-serif;
} */

html, body {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

h2, h3, h4, li, p {
    font-family: 'Helvetica Neue', Fallback, sans-serif;
    color: white
}

li > a {
    color: white;
    cursor: default;
}

p {
    font-size: 16px;
}

header {
    background-color: black;
    height: 75px;
    width: 100%;
    border: solid black;
    position: fixed;
    margin: -75px 0 75px 0
    /* padding: 5px */
}





nav {
    text-align: center;
    width: 1250px;
}

ul {
    list-style-type: none;
    margin: auto;
   
}

.nav-li {
    font-family: 'If', Fallback, sans-serif;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: lighter;
    /* is this doing anything? */
    display: inline;
    color: white;
    line-height: 75px;
    padding: 0 40px;
    cursor: default;
}

/* .image-container {
    
    
} */


img {
    max-width: 1366px;
    margin: -2px 0
}

.td-logo {
    width: 350px;
    float: left;
    margin-left: 20px
}

h2 {
    text-align: center;
    font-family: 'If', Fallback, sans-serif;
    letter-spacing: 2.5px;
    font-size: 34px;
    font-weight: lighter;
    color: white;
}

.giant-hero-container {
    background-size: 100%;
    height: 100%;
    margin: 75px 0 -75px 0;
    background-image: 
        url(img/newTDArt/Redman.jpg),
        url(img/newTDArt/trash.jpg),
        url(img/RedBGround.svg);
    background-position: 
        top,
        bottom;
    background-repeat: no-repeat;
    
}

.section-container {
    width: 650px;
    height: 100%;
    /* margin: 400px; */
    padding: 50px 100px;
    /* background-color: rgba(238, 130, 238, 0.5); */
    background-color: #00000061;
    margin: 70px auto;
    /* margin: 70px 200px */

}


.pullquotes {
    font-family: 'Helvetica Neue Italic', Fallback, sans-serif;
    text-align: center;
}

.album-name {
    font-family: 'Helvetica Neue Italic';
    font-size: 34px;
    color: white;
    float: left
}

.album-cover {
    width: 100%;
}

.tracklist {
    text-align: left;
    font-family: 'Helvetica Neue', Fallback, sans-serif;
    color: white;
    font-size: 20px;
}

.album-li {
    color: white;
    font-family: 'Hevetica Neue', Fallback, sans-serif;
    /* NO IDEA WHY THIS WONT TURN INTO HEL NEUE */
    font-size: 20px;
    /* padding-left: 0; */
    list-style-position:outside;
}



.photos-container {
    padding: 50px;
    width: 40%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100% 100%;
}
.thrashArt {
    width: 100%
}

.video-container {
    
    margin-left: 39px
}

/* .links-container {
    
    background-color: cadetblue;
   
} */

a {
    text-decoration: none;
}

.thrash-link {
    text-align: left;
    font-family: 'Helvetica Neue';
   
}

.contact-email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #FDBCBC
}


footer {
    background-color:black;
    height: 75px;
    width: 100%;
    margin-top: -2px;
    display: grid;
    grid-template-columns: 450px 666px 450px
    
}



#footer-ul {
    padding: 0 
}

h3 {
    /* display: inline; */
    /* line-height: 75px; */
    color: white;
    font-size: 20px;
    /* border: 2px solid gold */
    margin-top: 25px;
    text-align: center;
}

#left-foot {
    
    margin-left: 20px;
    
}

#center-foot {
    margin-right: 20px;
}

@media screen and (max-width: 700px) {
    html {
        width: 100%;
        background-color: #8E0000;
        /* width: 100%; */
        margin: 0;
        padding: 0
    }

    body {
        width: 100%;
        margin: 0;
        padding: 0
    }
    h2 {
      color: white;
    }

    nav {
        display: none;
    }

    header {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto -75px auto;
        position: relative;
        width: 100%;
        /* display: block; */
        /* width: 100vw; */
        /* float: right; */
        /* margin: 0 auto; */
        /* border: 1px solid gold */
    }

    .td-logo {
       
        width: 200px;
        margin: 0 auto
    }

    .giant-hero-container {
        /* display: none; */
        width: 100%;
        /* padding: 100px */
        background-color: #8E0000;
        background-image: 
        url(img/newTDArt/Redman.jpg),
        url(img/newTDArt/trash.jpg);
    }

    h2 {
        font-size: 22px;
    }

    .section-container {
        
        width: 75%;
        margin: 25px auto;
        padding: 25px
        
    }

    .spotify-container > iframe {
        width: 100%
    }

    .photos-container {

        /* width: 40%; */
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100% 100%;

        
        width: 90%;
        margin: 10px auto;
        display: block;
        padding: 10px;
        gap: 10px;
        grid-template-columns: 100% 100%; 
    }

    .photos-container > img {
        margin-top: 10px
    }

    .video-container  {
        margin-left: 0;
        /* height: 200px; */
        margin-top: -70px;
        margin-bottom: -75px
        /* margin: 0 auto; */
        /* display: block; */
    }

    .video-container > iframe {
        width: 100%;
        /* border: 1px solid gold; */
    }

    .contact-email {
        font-size: 20px;
    }

    footer {
        display: none;
    }
  }

